__pycache__/
*.py[cod]
*$py.class
.vscode
.venv/
tests/
env/
dummy_database_process/
dummy_database_static/
data/*
.ipynb_checkpoints
ignore
glycors/target/*
glycors/Cargo.lock
to-do
experimental
test.py
dummy_data_dir/DManpa1-2DManpa1-OH/clusters
dummy_data_dir/DManpa1-2DManpa1-OH/output
dummy_data_dir/*
dummy_database/*
Duplicate_Entries.txt
backup/*
logs
AGENTS.md
/dummy_database/Man(a1-2)Man
query_tool/*
query_tool
