numpy==2.2.4
scipy==1.15.2
pandas==2.2.3
scikit-learn
networkx==3.4.2
plotly==6.0.1
matplotlib==3.10.1
bio==1.7.1
tqdm==4.67.1
pyarrow==19.0.1
seaborn==0.13.2
glycowork==1.6.0
glycowork[draw]
glycowork[chem]
glypy==1.0.14
rdkit==2024.9.6
rdflib==7.1.4
xxhash==3.5.0