numpy==2.2.4
scipy==1.15.2
scikit-learn
networkx==3.4.2
matplotlib==3.10.1
bio==1.7.1
tqdm==4.67.1
pyarrow==19.0.1
seaborn==0.13.2
glycowork==1.6.3
glycowork[chem]
glypy==1.0.14
rdkit==2024.9.6
rdflib==7.1.4
oxigraph==0.4.11
polars==1.33.1
zarr==2.18.3 